body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) 0/0% 100% no-repeat text;
  animation: fill 1s linear infinite;
}

.loader::before {
  content: "loading";
}

@keyframes fill {
  to {
    background-size: 120% 100%;
  }
}
