/* =====================
   House container
===================== */

#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #f2d2a9;
  border: 4px solid #6b4f2c;
  margin: 50px auto;
}

#house > div {
  position: absolute;
}

/* =====================
    Roof
===================== */

#roof {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #8b2f2f;
  border: 3px solid #5a1f1f;
}

/* =====================
    Chimney
===================== */
#chimney {
  top: -100px;
  left: 60px;
  width: 40px;
  height: 100px;
  background: #555;
  border: 3px solid #333;
  z-index: -1;
}

/* =====================
    Windows
===================== */

#window-1,
#window-2 {
  top: 120px;
  width: 70px;
  height: 70px;
  background-color: #cce6ff;
  border: 3px solid #333;
}

#window-1 {
  left: 90px;
}

#window-2 {
  right: 90px;
}

/* =====================
   Door
===================== */

#door {
  bottom: 0;
  left: 215px;
  width: 70px;
  height: 120px;
  background-color: #6b3e1e;
  border: 3px solid #3e220f;
}
