* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(30deg, lightpink, pink, white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .loader {
  position: relative;
  width: 150px;
  aspect-ratio: 1 / 1;
}

.container .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #5989ff;
  border-radius: 50%;
  animation: loading ease-in-out 2s infinite;
}

@keyframes loading {
  0%,
  100% {
    transform: translate(-80px);
  }

  50% {
    transform: translate(80px);
  }
}

.container .loader span:nth-child(2) {
  background: rgba(56, 109, 241, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  animation-delay: -1s;
}

.container .loader span::before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -20%;
  width: 140%;
  height: 40px;
  background: radial-gradient(rgba(0, 0, 0, 0.1), transparent, transparent);
  border-radius: 50%;
}

h1 {
  position: absolute;
  top: 140px;
  color: white;
  font-family: cursive;
  text-align: center;
  color: gray;
  width: 100%;
}
