* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background-color: #000;
  color: white;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.section {
  margin: 32px;
}

.section_title {
  margin-bottom: 16px;
}
