body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, magenta, cyan);
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid white;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: animate 1.3s linear infinite;
}

@keyframes animate {
  to {
    transform: rotate(360deg);
  }
}

h1 {
  position: absolute;
  top: 140px;
  color: white;
  font-family: cursive;
  text-align: center;
  color: #000;
  width: 100%;
}
