body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: linear-gradient(90deg, #0000 33%, #000 0 67%, #0000 0) 0/300% 100%
    no-repeat text;
  animation: fill 2s linear infinite;
}

.loader::before {
  content: "Loading";
}

@keyframes fill {
  0% {
    background-position: 100%;
  }
}
