* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: grid;
  place-items: center;
  background: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.outer {
  position: relative;
  background: linear-gradient(#ffbe28, #00ffe5, #f0076c);
}

.rect {
  height: 70px;
  width: 220px;
  border-radius: 50px;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer button {
  background: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 5;
}

.rect button {
  height: 60px;
  width: 210px;
  border-radius: 50px;
}

.circle button {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}

.rect span {
  border-radius: 50px;
}

.circle span {
  border-radius: 50%;
}

.outer:hover span:nth-child(1) {
  filter: blur(7px);
}

.outer:hover span:nth-child(2) {
  filter: blur(14px);
}

.outer:hover {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
