.game-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
}
.header {
  flex: 1;
  width: 100%;
}
.grid {
  width: 250px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(195, 195, 166);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
}

.grid div {
  height: 25px;
  width: 25px;
  box-shadow: 1px 2px 5px #33333333;
  position: relative;
}

.grid div:not(.taken)::before,
.tetromino.taken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:
    5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: width 1s ease-in-out;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.taken {
  box-shadow: none !important;
}
